customer-support-rag-agent/Customer Support RAG Agent.json
{
  "name": "Customer Support RAG Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "db0871b6-2fe9-4d5d-a0ce-f355fb6fb296",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "BTUxEQ6OwFksYrSs",
          "name": "Google Auth"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "An email that is related to helping out a customer.They may ask questions and policies about our products or services.\n"
            },
            {
              "category": "Other",
              "description": "Any email that is not related to customer support"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        224,
        0
      ],
      "id": "04651134-7c31-4dbc-a81f-295b1f2c168e",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        208
      ],
      "id": "64496c08-388a-4fe9-8fae-0cb0af4dc5da",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "CLD8gP5rn6umFBaT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        416,
        208
      ],
      "id": "fd2d7470-6b70-4b46-a374-2dc79c51e185",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a intelligent Customer Support Assistant at our Tech Heaven.You have to use the tool knowledgebase to answer our customer emails\n\nGuidelines:\nUse emojis in your response.\nYour tone must be friendly that enhance our customer satisfaction.\nDon't said to check our full policy\n\nOutput:\nDo not include subject in emails\nSign off as Mr. Helpful From Tech Heaven"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        576,
        -96
      ],
      "id": "38bf9880-0bcb-4982-a763-92bb0aa875ed",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        96
      ],
      "id": "90426b99-47a8-4c94-a82d-8f8b45f0ec3b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "CLD8gP5rn6umFBaT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Call this knowledgebase tool to access our Policies and FAQS",
        "pineconeIndex": {
          "__rl": true,
          "value": "ragagent",
          "mode": "list",
          "cachedResultName": "ragagent"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        752,
        64
      ],
      "id": "47107291-06dc-4e29-9eaa-80ca108cca6b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "ircI7gK38aq9BF3C",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        768,
        304
      ],
      "id": "bab5e5cf-76e9-4045-ac56-4ffbb2eddb26",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "CLD8gP5rn6umFBaT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1136,
        -96
      ],
      "id": "e8a509cb-76e7-443e-9bc1-dbf6189b5a51",
      "name": "Reply to a message",
      "webhookId": "da05e03b-8079-4328-8b50-4e72a1253e53",
      "credentials": {
        "gmailOAuth2": {
          "id": "BTUxEQ6OwFksYrSs",
          "name": "Google Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "CATEGORY_PERSONAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        928,
        -96
      ],
      "id": "1df8bb66-18ca-4b9d-b9f8-2300906c5f9b",
      "name": "Add label to message",
      "webhookId": "c71655c3-7d3b-4e74-b061-50de87b0e712",
      "credentials": {
        "gmailOAuth2": {
          "id": "BTUxEQ6OwFksYrSs",
          "name": "Google Auth"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2d4f86c7-0544-41b8-945c-8942442f3b6c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e390e8cae629b31d7ddda8813526c47cca9686cdc05adcf49b1652c851bbf79"
  },
  "nodeGroups": [],
  "id": "VG25343PstF9HDG3",
  "tags": []
}